_beam_size_begin:     
_label: [h 1.0 x  v 1.5 um] 
_outline: [rectangle 0.0010 0.0018 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.040 mm   
_object_parameter: tc1_slit_1_height 0.026 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 1.00 x  v 5.00 um] 
_outline: [rectangle 0.0010 0.0050 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.040 mm   
_object_parameter: tc1_slit_1_height 0.265 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 1.00 x  v 10.00 um] 
_outline: [rectangle 0.0010 0.0100 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.040 mm   
_object_parameter: tc1_slit_1_height 0.5 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 2.00 x  v 2.00 um] 
_outline: [rectangle 0.0020 0.0020 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.093 mm   
_object_parameter: tc1_slit_1_height 0.0635 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 2.00 x  v 5.00 um] 
_outline: [rectangle 0.0020 0.0050 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.093 mm   
_object_parameter: tc1_slit_1_height 0.467 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 2.00 x  v 10.00 um] 
_outline: [rectangle 0.0020 0.0100 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.093 mm   
_object_parameter: tc1_slit_1_height 0.5 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [for staff (TCS=0.1mmsq.)] 
_outline: [rectangle 0.0023 0.0041 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.10
_object_parameter: tc1_slit_1_height 0.10 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 5.00 x  v 5.00 um] 
_outline: [rectangle 0.0050 0.0050 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.254 mm   
_object_parameter: tc1_slit_1_height 0.265 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 5.00 x  v 10.00 um] 
_outline: [rectangle 0.0050 0.0100 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.254 mm   
_object_parameter: tc1_slit_1_height 0.5 mm   
_flux_factor: 1.000    
_beam_size_end:     
     
_beam_size_begin:     
_label: [h 10.00 x  v 10.00 um] 
_outline: [rectangle 0.0100 0.0100 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.500 mm   
_object_parameter: tc1_slit_1_height 0.5 mm   
_flux_factor: 1.000    
_beam_size_end:     

_beam_size_begin:
_label: [TCS = 0.04 x 0.026 (For Staff) h 1.0 x v 0.8 um]
_outline: [rectangle 0.0010 0.0008 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.040 mm
_object_parameter: tc1_slit_1_height 0.026 mm
_flux_factor: 1.000
_beam_size_end:

_beam_size_begin:
_label: [TCS = 0.1mm sq. (For Staff) h 2.8 x v 4.1 um]
_outline: [rectangle 0.0028 0.0041 0.0 0.0 ]
_object_parameter: tc1_slit_1_width 0.100 mm
_object_parameter: tc1_slit_1_height 0.100 mm
_flux_factor: 1.000
_beam_size_end:


