_default_outline: [circle 0.2 0.2 0.0 0.0]

#_beam_size_begin:
#_label: [circle 1]
#_outline: [circle 0.1 0.1 0. 0.]
#_object_parameter: st1_slit_1_width  0.1 mm
#_object_parameter: st1_slit_1_height 0.1 mm
#_object_parameter: st1_slit_2_width  0.1 mm
#_object_parameter: st1_slit_2_height 0.1 mm
#_beam_size_end:
#
#_beam_size_begin:
#_label: [circle 2]
#_outline: [circle 0.1 0.05 0. 0.]
#_object_parameter: st1_slit_1_width  0.1 mm
#_object_parameter: st1_slit_1_height 0.1 mm
#_object_parameter: st1_slit_2_width  0.1 mm
#_object_parameter: st1_slit_2_height 0.1 mm
#_beam_size_end:
#
#_beam_size_begin:
#_label: [rectangle 1]
#_outline: [rectangle 0.1 0.05 0. 0.]
#_object_parameter: st1_slit_1_width  0.1 mm 
#_object_parameter: st1_slit_1_height 0.05 mm 
#_object_parameter: st1_slit_2_width  0.1 mm 
#_object_parameter: st1_slit_2_height 0.05 mm
#_beam_size_end:
#
#_beam_size_begin:
#_label: [rectangle 2]
#_outline: [rectangle 0.1 0.05 0.05 0.]
#_object_parameter: st1_slit_1_width  0.1 mm
#_object_parameter: st1_slit_1_height 0.05 mm 
#_object_parameter: st1_slit_2_width  0.1 mm 
#_object_parameter: st1_slit_2_height 0.05 mm
#_beam_size_end:
#
#_beam_size_begin:
#_label: [rectangle 3]
#_outline: [rectangle 0.1 0.05 0. 0.05]
#_object_parameter: st1_slit_1_width  0.1 mm
#_object_parameter: st1_slit_1_height 0.05 mm 
#_object_parameter: st1_slit_2_width  0.1 mm 
#_object_parameter: st1_slit_2_height 0.05 mm
#_beam_size_end:
#
