_beam_size_begin:
_label: [h120 x v120 um]
_outline: [circle 0.12 0.12 0. 0.]
_object_parameter: st1_slit_1_width  0.45 mm
_object_parameter: st1_slit_1_height 0.20 mm
_object_parameter: st1_slit_2_width  0.40 mm
_object_parameter: st1_slit_2_height 0.30 mm
_flux_factor: 2.035
_beam_size_end:

_beam_size_begin:
_label: [h100 x v100 um]
_beam_size_begin:
_label: [h100 x v100 um]
_outline: [circle 0.1 0.1 0. 0.]
_object_parameter: st1_slit_1_width  0.38 mm
_object_parameter: st1_slit_1_height 0.17 mm 
_object_parameter: st1_slit_2_width  0.33 mm 
_object_parameter: st1_slit_2_height 0.25 mm
_flux_factor: 1.0
_beam_size_end:

_beam_size_begin:
_label: [h80 x v80 um]
_beam_size_begin:
_label: [h80 x v80 um]
_outline: [circle 0.08 0.08 0. 0.]
_object_parameter: st1_slit_1_width  0.30 mm
_object_parameter: st1_slit_1_height 0.14 mm 
_object_parameter: st1_slit_2_width  0.27 mm 
_object_parameter: st1_slit_2_height 0.20 mm
_flux_factor: 1.0
_beam_size_end:

_beam_size_begin:
_label: [h60 x v60 um]
_outline: [circle 0.06 0.06 0. 0.]
_object_parameter: st1_slit_1_width  0.23 mm
_object_parameter: st1_slit_1_height 0.10 mm 
_object_parameter: st1_slit_2_width  0.20 mm 
_object_parameter: st1_slit_2_height 0.15 mm
_flux_factor: 1.0
_beam_size_end:

#
#_beam_size_begin:
#_label: [h30 x v30 um]
#_outline: [rectangle 0.030 0.030 0. 0.]
#_object_parameter: st1_slit_1_width  0.06 mm
#_object_parameter: st1_slit_1_height 0.06 mm
#_object_parameter: st1_slit_2_width  0.04 mm
#_object_parameter: st1_slit_2_height 0.04 mm
#_flux_factor: 0.423
#_beam_size_end:
#
#_beam_size_begin:
#_label: [h50 x v100 um]
#_outline: [rectangle 0.05 0.10 0. 0.]
#_object_parameter: st1_slit_1_width  0.08 mm
#_object_parameter: st1_slit_1_height 0.13 mm
#_object_parameter: st1_slit_2_width  0.06 mm
#_object_parameter: st1_slit_2_height 0.11 mm
#_flux_factor: 1.440
#_beam_size_end:
#
#_beam_size_begin:
#_label: [h30 x v50 um]
#_outline: [rectangle 0.03 0.05 0. 0.]
#_object_parameter: st1_slit_1_width  0.06 mm
#_object_parameter: st1_slit_1_height 0.08 mm
#_object_parameter: st1_slit_2_width  0.04 mm
#_object_parameter: st1_slit_2_height 0.06 mm
#_flux_factor: 0.620
#_beam_size_end:
#
#_beam_size_begin:
#_label: [slit fullopen (h200xv100um)]
#_outline: [rectangle 0.200 0.100 0. 0.]
#_object_parameter: st1_slit_1_width  0.250 mm
#_object_parameter: st1_slit_1_height 0.250 mm
#_object_parameter: st1_slit_2_width  0.250 mm
#_object_parameter: st1_slit_2_height 0.250 mm
#_flux_factor: 4.849
#_beam_size_end:
#
#_beam_size_begin:
#_label: [10um circle -50um]
#_outline: [circle 0.01 0.01 0. 0.]
#_object_parameter: st1_slit_1_width  0.21 mm
#_object_parameter: st1_slit_1_height 0.21 mm
#_object_parameter: st1_slit_2_width  0.08 mm
#_object_parameter: st1_slit_2_height 0.08 mm
#_flux_factor: 1.0
#_beam_size_end:

#_beam_size_begin:
#_label: [10um circle -full]
#_outline: [circle 0.01 0.01 0. 0.]
#_object_parameter: st1_slit_1_width  0.3 mm
#_object_parameter: st1_slit_1_height 0.3 mm
#_object_parameter: st1_slit_2_width  0.3 mm
#_object_parameter: st1_slit_2_height 0.3 mm
#_flux_factor: 1.0
#_beam_size_end:
