#
#  ----------------------------------------------------------
#     Config File for ADSC-Q315 at BL41XU  2004/09/04 (KH)
#  ----------------------------------------------------------
#   ADSC-Q4R configuration parameters
# CCD module size
chip_size_x:2048
chip_size_y:2048

# Pixel size
pixel_size:0.0512940

# serial number
detector_sn:451

# Directory for storeing raw darkcurrent file. Use "none" when 
# storing in the data directory
dark_directory:/data/dkc


# Drive name of frame garaber PC in which raw dark images are stored.
dark_drive:\\bl44b2m\dkc\
#dark_drive:s

