BL_Name:BL26B1
DefaultGrayScale: 300
CameraDistanceRangeCCD: 150.000000,320.000000
CameraDistanceRangeIP: 175.000000,900.000000
AnalysisShowGraphicResult: yes
AnalysisVerboseReport: no
AnalysisLocalDivision: 16
AnalysisSigmaCutoff: 4.000000
AnalysisLowestResolution: 50.000000
AnalysisSuggestedMaxIntensity: 50000
AnalysisSuggestedAverageIntensity: 4000
AnalysisSuggestedMaxExposureCCD: 20
AnalysisSuggestedMaxExposureIP: 60
AnalysisScoringWeight: 100 100 100
AnalysisBackgroundScanStep: 3
AnalysisPeakSearchScanStep: 1
AnalysisUseMask: no
AnalysisMaskCenter: 2068,1100
AnalysisMaskSize: 300,2200
AnalysisBGThresholdCoefA: 10.000000
AnalysisBGThresholdCoefB: 0.000000
