#
#  ---------------------------------------------------------
#     Config File for ADSC-Q4R of BL38B1  2004/02/25 (KH)
#  ---------------------------------------------------------
#
# CCD control system (Q4R or others) 
detector_control:Q210
#
#   ADSC-Q4R configuration parameters
# Originally defined in detcon_defs.h of detcon library
#chip_size_x:1152
#chip_size_y:1152
chip_size_x:2048
chip_size_y:2048
#
# Originally define in ~/ccdsys/ccd_dist/tables_api_427/config_ccd
#pixel_size:.0816
#detector_sn:427
pixel_size:.0512940
detector_sn:451
#
# 2004.2.25
# Directory for storeing raw darkcurrent file. Use "none" when
# storing in the data directory
#dark_directory:/storage/dkc/
dark_directory:/dkc/
#
# 2004.2.25
# Drive name that the directory for raw data is mounted through SAMBA.
#dark_drive:s:\
#dark_drive:\\bl38b\dkc\
dark_drive:\\bl26b1bss\dkc\
